footer#rodape{
    background-color: var(--c-verde-escuro);
    
    #top-rodape{
        padding: 2rem 2rem 5rem 2rem;

    }

    #bottom-rodape{
        background-color: white;
        padding: 1rem;
        color: black;
    }
}