header{
    z-index: 100;
    top: 0;
    width: 100%;
    position: fixed;
}

#top-header{
    background-color: var(--c-verde);
    color: white;
    height: 40px;

    >div{
        @media screen and (max-width: 991px) {
            padding: 0;
        }

        @media screen and (max-width: 767px) {
            justify-content: center !important;
        }
    }
    .menu-top{
        @media screen and (max-width: 767px) {
            display: none;
        }

        li{
            a{
            color: white !important;
            font-weight: 500;
            font-size: 15px !important;
            text-decoration: none;

            @media screen and (max-width: 991px) {
                font-size: 14px !important;
            }

            &:hover{
                text-decoration: underline;
            }
            }
        }
    }

    article{
        p{
            font-size: 15px !important;
            @media screen and (max-width: 991px) {
                font-size: 14px !important;
            }
        }
    }
}


#menu-header{
    height: 146px;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid var(--c-laranja);

    @media screen and (max-width: 991px) and (min-width: 768px) {
        >div, >div .row, >div .row >div{
            padding: 0;
        }
    }
    .logo{
        img{
            height: 101px;
            
            @media screen and (max-width: 1199px) {
                height: 85px;
            }

            @media screen and (max-width: 767px) {
                height: 75px;
            }
        }
    }

    .menu{
        .menu-top{
            ul{
                gap: 2.5rem;
                border: 2px solid var(--c-laranja);
                width: 510px;
                height: 58px;
                border-radius: 3rem;

                @media screen and (max-width: 1199px) {
                    gap: 1.5rem;
                }

                li{
                    a{
                        text-decoration: none;
                        color: black;
                        display: inline-block;
                        font-weight: 500;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }

    .menu-mobile{
            position: relative;
            top: 0;
            height: 40px;
            width: 39px;

            @media screen and (max-width: 575px) {
                width: 60px ;
                right: 1rem;
            }

        &.active{
            .itens-menu{
                span{
                    
                    &:nth-child(1){
                        transform: rotate(45deg);
                        top: 0;
                    }

                    &:nth-child(2){
                        transform: rotate(135deg);
                        top: 0;
                    }

                    &:nth-child(3){
                        display: none;
                    }
                }
            }
        }

        .itens-menu{
            position: relative;
            transition: .5s ease-in; 
            top: 20px;
            cursor: pointer;
            &:hover{
                span{
                    background-color: var(--c-laranja);
                }
            }
            span{
                transition: .3s ease-in-out;
                content: '';
                position: absolute;
                width: 35px;
                right: 0;
                background-color: var(--c-verde-escuro);
                height: 3px;
                border-radius: 0;

                

                &:nth-child(1){
                    top: 8px;
                }

                &:nth-child(3){
                    top: -8px;
                }
            }
        }
    }

    .icons-aux{

        @media screen and (max-width: 575px) {
                background: white;
                margin: auto;
                border-radius: 3rem;
                border: 2px solid var(--c-laranja);
                margin-top: 1rem;
                justify-content: space-around !important;
                width: 80%;
                position: relative;
                top: 17px;

                img{
                    height: 35px !important;
                }
        }
        div{
            img{
                height: 45px;
            }
        }

        .box-search{
            position: relative;
            button{
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}


#canvas-menu{
    left: 0;
    bottom: -40px;
    background-color: #fffffff2;
    position: fixed;
    visibility: hidden;
    width: 60%;
    height: 100%;
    z-index: 110;

    &.active{
        visibility: visible;
    }
}